*{
  padding: 0px;
  margin: 0px;
}
<<<<<<< HEAD
form {
=======
/* form {
>>>>>>> 9596f976d09b3f6debded164fede1ff7c39184e7
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
<<<<<<< HEAD
=======
form div{
  display: flex;
  justify-content: space-evenly;
}

>>>>>>> 9596f976d09b3f6debded164fede1ff7c39184e7
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="number"] {
<<<<<<< HEAD
    padding: 12px 20px;
=======
    padding:5px;
>>>>>>> 9596f976d09b3f6debded164fede1ff7c39184e7
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
<<<<<<< HEAD
    background-color: #4CAF50; /* green */
=======
    background-color: #4CAF50;
>>>>>>> 9596f976d09b3f6debded164fede1ff7c39184e7
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-products-title {
    text-align: center;
<<<<<<< HEAD
    color: #00008B; /* dark blue */
=======
    color: #00008B;
>>>>>>> 9596f976d09b3f6debded164fede1ff7c39184e7
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
<<<<<<< HEAD
    background-color: #ADD8E6; /* light blue */
    padding: 10px;
}

.form-container {
    border: 2px solid #ADD8E6; /* dark blue */
=======
    background-color: #ADD8E6; 
    padding: 10px;
}

form {
    border: 2px solid #ADD8E6; 
>>>>>>> 9596f976d09b3f6debded164fede1ff7c39184e7
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px;
<<<<<<< HEAD
    width: 40%; /* to limit the width of the container */
    margin: auto;
}
=======
    width: 40%; 
    margin: auto;
} */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#add-Product{

width: 40%;
margin: 30px auto;
display: flex;
flex-direction: column;
z-index: 6;

}
#add-Product input,select{
  border: none;
  border-radius: 5px;
  z-index: 8;
  padding: 5px;
  margin: 5px;
}

>>>>>>> 9596f976d09b3f6debded164fede1ff7c39184e7
