#showItem img{
    width: 20%;
    /* padding-left: 50px; */
}

.deletebtn{

        background: #f05462;
        color: white;
        padding: 5px 10px;
        text-align: center;
        border-radius: 5px;
        border :none;
        margin: 5px;
    
}

table{
    padding-right: 30px;
}
